---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import Button from "../../components/ui/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Footer from "../../components/Footer.astro";
import imgTepic from "../../imgs/explora-tepic.jpg";
import imgVallarta from "../../imgs/explora-vallarta.jpg";
---

<MainLayout>
    <div class="relative h-96">
        <h1
            class="shadow-md text-center text-white tracking-[0.2em] text-5xl md:text-7xl font-medium font-serif mt-16 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
        >
            Explora
        </h1>
        <div
            class="absolute inset-0 bg-cover bg-center -z-10 bg-[url('/images/header-acerca-de.png')] bg-fixed"
        >
        </div>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-50 -z-10"></div>
    </div>
    <div class="bg-primario/600 h-6 w-full"></div>

    <section class="my-16 md:my-32 px-0 md:px-16">
        <div class="block md:flex justify-center mx-auto max-w-[1440px]">
            <div class="bg-primario mt-8 xl:-mt-8 relative mx-auto w-[250px] h-24 sm:w-[350px] sm:h-32 md:h-auto md:w-[600px]">
                <Image
                    src={imgTepic}
                    alt="Foto 02"
                    class="w-full absolute -top-8 -left-4"
                />
            </div>
            <div class="ml-0 md:ml-32 w-full lg:w-4/6 max-w-3xl px-4 md:px-0">
                <h2
                    class="font-serif text-terciario text-4xl lg:text-5xl tracking-widest font-bold mt-8 md:mt-0"
                >
                    lo mejor de Tepic
                </h2>
                <p class="mt-2 sm:my-5">
                    Explora la rica historia de Tepic, con sus tradiciones indígenas, mercados coloridos,
                    paisajes montañosos y una vibrante escena cultural local.
                </p>
            </div>
        </div>
    </section>

    <section class="mb-28 px-4 md:px-0">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-24 mx-auto w-max">
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="park" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Parque la loma</h3>
                <p>
                    El Parque La Loma es el pulmón verde de Tepic, un espacio ideal para relajarse, hacer ejercicio
                    o disfrutar de un picnic. Con amplias áreas verdes, senderos y espacios recreativos,
                    este parque es perfecto para desconectarse del ajetreo urbano y conectarse con la naturaleza.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="mountain" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Cerro de San Juan</h3>
                <p>
                    El Cerro de San Juan es una aventura natural que ofrece espectaculares vistas de la ciudad de Tepic.
                    Con rutas de senderismo para principiantes y expertos, este cerro es el destino ideal para los amantes
                    de la naturaleza que buscan una experiencia activa y gratificante.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="museum" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Centro Historico de Tepic</h3>
                <p>
                    Descubre la historia y el encanto de Tepic caminando por su Centro Histórico.
                    Admira la arquitectura colonial, visita la Catedral de la Purísima Concepción y disfruta de los cafés
                    y tiendas locales que dan vida a esta vibrante área cultural.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="camera" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Museo Regional de Nayarit</h3>
                <p>
                    El Museo Regional de Nayarit es una visita obligada para los interesados en la historia y
                    la cultura de la región. Aquí podrás explorar colecciones que muestran la rica herencia
                    prehispánica de Nayarit, así como exposiciones de arte contemporáneo.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="bike" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Parque Metropolitano</h3>
                <p>
                    El Parque Ecológico Metropolitano es un espacio dedicado a la conservación y recreación en Tepic.
                    Con sus amplias áreas de bosque, lagos y senderos, es perfecto para actividades al aire libre como caminatas,
                    ciclismo y observación de aves, todo dentro de un entorno natural.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="map" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Casa Museo Amado Nervo</h3>
                <p>
                    Ubicada en el corazón de Tepic, esta casa ha sido transformada en un museo que conserva el legado
                    literario de Amado Nervo. Los visitantes pueden explorar la vida y obra del poeta a través de
                    exhibiciones interactivas, manuscritos originales y objetos personales.
                </p>
            </div>
        </div>
    </section>

    <section class="my-16 md:my-32 px-0 md:px-16">
        <div class="block md:flex justify-center mx-auto max-w-[1440px]">
            <div class="bg-primario mt-8 xl:-mt-8 relative mx-auto w-[250px] h-24 sm:w-[350px] sm:h-32 md:h-auto md:w-[600px]">
                <Image
                    src={imgVallarta}
                    alt="Foto 02"
                    class="w-full absolute -top-8 -left-4"
                />
            </div>
            <div class="ml-0 md:ml-32 w-full lg:w-4/6 max-w-3xl px-4 md:px-0">
                <h2
                    class="font-serif text-terciario text-4xl lg:text-5xl tracking-widest font-bold mt-8 md:mt-0"
                >
                    lo mejor de Puerto Vallarta
                </h2>
                <p class="mt-2 sm:my-5">
                    Relájate en las playas paradisíacas de Puerto Vallarta, disfruta de su vida nocturna,
                    la gastronomía local y paisajes tropicales únicos.
                </p>
            </div>
        </div>
    </section>

    <section class="mb-28 px-4 md:px-0">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-24 mx-auto w-max">
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="compass" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Mega Yate Todo Incluido Catarata Yelapa y Aventura de Snorkel</h3>
                <p>
                    Embárcate en una lujosa aventura a bordo de un mega yate todo incluido mientras exploras la majestuosa
                    Catarata de Yelapa y disfrutas de una emocionante experiencia de Snorkel en aguas cristalinas.
                    Perfecto para quienes buscan relajarse y disfrutar de la belleza natural de Puerto Vallarta.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="shark" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Tour en Bote y Snorkel a 5 Islas de Los Arcos</h3>
                <p>
                    Descubre la magia de las formaciones rocosas de Los Arcos con un tour en bote y snorkel
                    que te llevará a cinco islas únicas. Sumérgete en un mundo submarino vibrante y lleno de vida
                    mientras exploras una de las atracciones más icónicas de Puerto Vallarta.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="trail" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Tour privado en Cuatrimoto con cascada y degustación de Tequila</h3>
                <p>
                    Disfruta de un tour lleno de adrenalina conduciendo una cuatrimoto a través de paisajes impresionantes.
                    Conoce cascadas escondidas en la selva y termina la experiencia con una degustación de tequila artesanal,
                    una aventura imperdible para los amantes de la naturaleza y la cultura local.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="climbracing" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">ATV y RZR Jorullo Bridge Experience en Puerto Vallarta</h3>
                <p>
                    Vive la emoción de cruzar el puente colgante más largo del mundo en un ATV o RZR.
                    Esta experiencia única te llevará a través de la exuberante selva tropical,
                    brindándote vistas impresionantes de la Sierra Madre y una descarga de adrenalina que nunca olvidarás.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="sportstrack" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Hop On Hop Off Recorrido con Paradas Libres en Puerto Vallarta</h3>
                <p>
                    Explora Puerto Vallarta a tu propio ritmo con el recorrido Hop On Hop Off.
                    Visita las principales atracciones turísticas de la ciudad, como el Malecón y las playas,
                    con la libertad de subir y bajar del autobús cuantas veces quieras.
                    Ideal para quienes desean descubrir lo mejor de la ciudad sin prisas.
                </p>
            </div>
            <div class="text-center w-80">
                <div
                    class="border border-primario w-fit mx-auto p-8 rounded-full mb-6"
                >
                    <Icon name="drink" class="text-primario" size={42} />
                </div>
                <h3 class="uppercase text-xl mb-2">Recorrido Gastronómico y de Mixología en Puerto Vallarta</h3>
                <p>
                    Increíble variedad de opciones gastronómicas de primera clase y cócteles exquisitos.
                    En este recorrido guiado a pie, te alejarás del bullicio de las zonas más turísticas,
                    descubrirás los sabores auténticos. Deléitate con tacos frescos, postres tradicionales y
                    los mejores cócteles de la ciudad.
                </p>
            </div>
        </div>
    </section>

    <section class="w-full bg-gray-100 pt-20 pb-36">
        <div class="text-center max-w-4xl mx-auto px-5 md:px-0">
            <h2
                class="font-serif text-terciario text-4xl lg:text-5xl tracking-widest font-bold mb-4"
            >
                la Magia de Nayarit
            </h2>
            <p>
                Tepic y Puerto Vallarta combinan lo mejor de Nayarit:
                cultura, naturaleza y aventura. Desde montañas imponentes hasta playas paradisíacas,
                estos destinos te invitan a una experiencia única e inolvidable.
                ¡Ven y explora la magia de Nayarit!
            </p>
        </div>
    </section>

    <Footer />
</MainLayout>
