---
import { Icon } from "astro-icon/components";
import Button from "../../components/ui/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Footer from "../../components/Footer.astro";
---

<MainLayout>
    <div class="relative h-96">
        <h1
            class="shadow-md text-center text-white tracking-[0.2em] text-5xl md:text-7xl font-medium font-serif mt-16 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
        >
            Reserva ahora
        </h1>
        <div
            class="absolute inset-0 bg-cover bg-center -z-10 bg-[url('/images/header-acerca-de.png')] bg-fixed"
        >
        </div>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-50 -z-10"></div>
    </div>
    <div class="bg-amber-200 h-6 w-full"></div>

    <section class="my-16 sm:my-32">
        <div class="block flex-col sm:flex justify-center w-full lg:w-2/5 mx-auto gap-16 ">
            <h2 class="font-serif text-blue-600 text-4xl lg:text-5xl tracking-widest font-bold text-center mt-8 md:mt-0">
                    Descubre aventuras en Tepic
            </h2>
            <div class="flex justify-center gap-2 lg:gap-16">
                <a href="https://hotels.cloudbeds.com/es/reservation/RG3OL7" target="_blank">
                    <Button>Mako 235</Button> 
                </a>
                <a href="https://hotels.cloudbeds.com/reservation/WEu6yV" target="_blank">
                    <Button>Mako 519</Button>
                </a>
            </div>
            <h2 class="font-serif text-blue-600 text-4xl lg:text-5xl tracking-widest font-bold text-center mt-8 md:mt-0">
                Atrévete a explorar Puerto Vallarta
            </h2>
            <div class="flex justify-center gap-2 lg:gap-16">
                <a href="https://hotels.cloudbeds.com/reservation/MPmmBg" target="_blank">
                    <Button>Mako 54</Button>
                </a>
            </div>
        </div>
    </section>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1040.6572920014858!2d-104.85588780983564!3d21.477657024491567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1728606875501!5m2!1ses-419!2smx"
        class="w-full h-96"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="bg-amber-200 h-6 w-full"></div>
    <Footer />
</MainLayout>
