---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Button from "../../components/ui/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Footer from "../../components/Footer.astro";
---

<MainLayout>
    <div class="relative h-96">
        <h1
            class="shadow-md text-center text-white tracking-[0.2em] text-5xl md:text-7xl font-medium font-serif mt-16 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
        >
            Cuartos
        </h1>
        <div
            class="absolute inset-0 bg-cover bg-center -z-10 bg-[url('/images/header-acerca-de.png')] bg-fixed"
        >
        </div>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-50 -z-10"></div>
    </div>
    <div class="bg-amber-200 h-6 w-full"></div>

    <section class="mt-20 mb-64">
        <div class="grid grid-cols-1 lg:grid-cols-2 max-w-6xl mx-auto gap-5 px-4 lg:px-0">
            <div class="border border-gray-300">
                <div
                    class="bg-[url('/images/mako-05.jpg')] bg-cover bg-bottom w-full h-64"
                >
                </div>
                <div class="px-8 pb-16 mt-14">
                    <h3 class="uppercase text-blue-600 text-2xl">Room one</h3>
                    <h4 class="uppercase font-bold text-base">
                        1 Bed | 1 Bath
                    </h4>
                    <p class="w-11/12 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris elementum dolor libero. Nam vitae fermentum
                        velit. Integer at mi in nulla venenatis eleifend. Nunc
                        suscipit, nunc et aliquet auctor, odio tortor semper
                        lectus, in pretium nisi diam sed urna.
                    </p>

                    <Button>Reservar ahora</Button>
                </div>
            </div>
            <div class="border border-gray-300">
                <div
                    class="bg-[url('/images/mako-05.jpg')] bg-cover bg-bottom w-full h-64"
                >
                </div>
                <div class="px-8 pb-16 mt-14">
                    <h3 class="uppercase text-blue-600 text-2xl">Room one</h3>
                    <h4 class="uppercase font-bold text-base">
                        1 Bed | 1 Bath
                    </h4>
                    <p class="w-11/12 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris elementum dolor libero. Nam vitae fermentum
                        velit. Integer at mi in nulla venenatis eleifend. Nunc
                        suscipit, nunc et aliquet auctor, odio tortor semper
                        lectus, in pretium nisi diam sed urna.
                    </p>

                    <Button>Reservar ahora</Button>
                </div>
            </div>
            <div class="border border-gray-300">
                <div
                    class="bg-[url('/images/mako-05.jpg')] bg-cover bg-bottom w-full h-64"
                >
                </div>
                <div class="px-8 pb-16 mt-14">
                    <h3 class="uppercase text-blue-600 text-2xl">Room one</h3>
                    <h4 class="uppercase font-bold text-base">
                        1 Bed | 1 Bath
                    </h4>
                    <p class="w-11/12 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris elementum dolor libero. Nam vitae fermentum
                        velit. Integer at mi in nulla venenatis eleifend. Nunc
                        suscipit, nunc et aliquet auctor, odio tortor semper
                        lectus, in pretium nisi diam sed urna.
                    </p>

                    <Button>Reservar ahora</Button>
                </div>
            </div>
            <div class="border border-gray-300">
                <div
                    class="bg-[url('/images/mako-05.jpg')] bg-cover bg-bottom w-full h-64"
                >
                </div>
                <div class="px-8 pb-16 mt-14">
                    <h3 class="uppercase text-blue-600 text-2xl">Room one</h3>
                    <h4 class="uppercase font-bold text-base">
                        1 Bed | 1 Bath
                    </h4>
                    <p class="w-11/12 mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris elementum dolor libero. Nam vitae fermentum
                        velit. Integer at mi in nulla venenatis eleifend. Nunc
                        suscipit, nunc et aliquet auctor, odio tortor semper
                        lectus, in pretium nisi diam sed urna.
                    </p>

                    <Button>Reservar ahora</Button>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</MainLayout>
