---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from  "../components/Hero.astro";

---

<MainLayout>
	<Hero />
	<div class="h-96 bg-white"></div>
	<div class="h-96 bg-white"></div>
	<div class="h-96 bg-white"></div>
	<div class="h-96 bg-white"></div>
	<div class="h-96 bg-white"></div>
</MainLayout>