---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Button from "./ui/Button.astro";
import logoWhite from "../imgs/obas-logo-white.svg";
---

<div class="bg-primario h-6 w-full"></div>
<footer class="bg-primario/60 pt-32 sm:pt-52 pb-16 relative px-8 lg:px-0">
    <div class="block sm:flex max-w-7xl mx-auto justify-between items-center">
        <ul class="border-l-4 border-primario pl-8 sm:pl-16 py-1 space-y-6">
            <li>
                <h5 class="font-semibold">Ubicación</h5>
                <div>Girasol 239</div>
                <div>Tepic, Nayarit</div>
            </li>
            <li>
                <h5 class="font-semibold">Email</h5>
                <div>reservaciones.obas@macopron.com</div>
            </li>
            <li>
                <h5 class="font-semibold">Teléfonos</h5>
                <div>+(52) 322 118 4312</div>
                <div>+(52) 311 226 0098</div>
            </li>
        </ul>
        <div>
            <div class="mt-8 sm:mt-0 flex flex-col space-y-2">
                <a href="/cuartos" class="flex flex-col">
                    <Button>Cuartos</Button>
                </a>
                <a href="/reserva" class="flex flex-col">
                    <Button>Reserva ahora</Button>
                </a>
            </div>
            <div class="flex justify-center gap-3 mt-5">
                <!-- <Icon name="facebook" class="text-blue-600" size={24} />
                <Icon name="x" class="text-blue-600" size={24} />
                <Icon name="instagram" class="text-blue-600" size={24} /> -->
            </div>
        </div>
    </div>

    <div
        class="bg-secundario p-4 md:mx-6 absolute -top-24 left-1/2 -translate-x-1/2"
    >
        <Image src={logoWhite} alt="Logo Obas" class="w-36 sm:w-48" />
    </div>
</footer>
<p class="text-sm my-2 text-center text-gray-600">
    © 2024 Todos los derechos reservados | OBAS | Powered by Michicode
</p>
