---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<div class="relative min-h-screen flex flex-col justify-center items-center">
    <div
        class="absolute inset-0 bg-cover bg-center -z-10 bg-[url('https://i.ibb.co/wYz5JFN/mako-02.jpg')] bg-fixed"
    >
    </div>

    <!-- Overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-50 -z-10"></div>
    <div class="text-white lg:mt-auto pt-96">
        <h1
            class="text-center tracking-[0.2em] text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-medium font-serif"
        >
            hello from obas.
        </h1>
    </div>

    <div
        class="flex flex-col justify-center items-center w-full px-4 text-white mt-64"
    >
        <p
            class="text-4xl text-center max-w-4xl mx-auto mb-52 hidden lg:block"
        >
            YOUR PERFECT PLACE OF COMFORT AND BEAUTY IN THE HEART OF MEXICO IS
            ALWAYS AT YOUR SERVICE.
        </p>

        <div class="mb-16"><Button variant="outline">Reserva ahora</Button></div>
        <h4 class="uppercase text-xl hidden lg:block">Discover</h4>
        <Icon
            name="arrow-down"
            class="mt-10 mb-8 hover:-translate-y-4 transition-transform cursor-pointer hidden lg:block"
            size={60}
        />
    </div>
</div>
