---
import { Icon } from "astro-icon/components";
---

<div class="relative min-h-screen flex flex-col justify-center items-center">
    <div
        class="absolute inset-0 bg-cover bg-center -z-10 bg-[url('https://i.ibb.co/wYz5JFN/mako-02.jpg')] bg-fixed"
    >
    </div>

    <!-- Overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-50 -z-10"></div>
    <div class="text-white mt-auto pt-64">
        <h1
            class="text-center tracking-[0.2em] text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-medium font-serif"
        >
            hello from obas.
        </h1>
    </div>

    <div
        class="flex flex-col justify-center items-center w-full px-4 text-white mt-auto"
    >
        <p
            class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-center max-w-4xl mx-auto mb-64"
        >
            YOUR PERFECT PLACE OF COMFORT AND BEAUTY IN THE HEART OF MEXICO IS
            ALWAYS AT YOUR SERVICE.
        </p>
        <h4
            class="uppercase text-lg sm:text-xl"
        >
            Discover
        </h4>
        <Icon
            name="arrow-down"
            class="mt-4 sm:mt-6 md:mt-8 lg:mt-10 mb-8 hover:-translate-y-4 transition-transform cursor-pointer"
            size={60}
        />
    </div>
</div>
