---
const currentPath = Astro.url.pathname;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import logoWhite from "../imgs/obas-logo-white.svg";
---

<!-- Navbar para escritorio -->
<nav
    class="fixed z-20 top-0 hidden md:flex items-center bg-mostaza bg-opacity-0 transition-all duration-300 ease-in-out -translate-x-1/2 left-1/2 w-full justify-start md:justify-center"
    id="navbar"
>
    <div class="flex-1 justify-end hidden md:flex space-x-8 text-white font-medium">
        <a href="/cuartos" class="relative group">
            <span>CUARTOS</span>
            <span
                class={`absolute inset-x-0 top-7 h-0.5 bg-white transform ${
                    currentPath === "/cuartos" ? "scale-x-100" : "scale-x-0"
                } origin-center transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
        <a href="/explora" class="relative group">
            <span>EXPLORA</span>
            <span
                class={`absolute inset-x-0 top-7 h-0.5 bg-white transform ${
                    currentPath === "/explora" ? "scale-x-100" : "scale-x-0"
                } origin-center transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
    </div>
    <a href="/" class="flex-shrink-0">
        <div class="bg-blue-600 p-4 md:mx-6">
            <Image src={logoWhite} alt="Logo Obas" class="w-28" />
        </div>
    </a>
    <div class="flex-1 hidden md:flex space-x-8 text-white">
        <a href="/acerca-de" class="relative group">
            <span>ACERCA DE</span>
            <span
                class={`absolute inset-x-0 top-7 h-0.5 bg-white transform ${
                    currentPath === "/acerca-de" ? "scale-x-100" : "scale-x-0"
                } origin-center transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
        <a href="/reserva" class="relative group">
            <span>RESERVA AHORA</span>
            <span
                class={`absolute inset-x-0 top-7 h-0.5 bg-white transform ${
                    currentPath === "/reserva" ? "scale-x-100" : "scale-x-0"
                } origin-center transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
    </div>
</nav>

<!-- Navbar movil -->
<nav class="fixed h-16 bg-mostaza w-full md:hidden z-20">
    <div class="bg-blue-600 p-4 md:mx-6 w-fit">
        <Image src={logoWhite} alt="Logo Obas" class="w-20" />
    </div>

    <button id="menu-toggle" class="absolute top-4 right-4">
        <Icon name="menu-bar" class="text-neutral-800" size={32} />
    </button>
</nav>

<!-- Sidebar -->
<div
    id="sidebar"
    class="fixed top-0 right-0 h-full w-64 bg-white text-gray-600 transform translate-x-full transition-transform duration-300 ease-in-out z-30"
>
    <button id="close-sidebar" class="absolute top-4 right-4 text-6xl">
        &times;
    </button>
    <div class="p-6 mt-16 space-y-4">
        <a href="/cuartos" class="block relative group py-2 text-lg w-fit">
            <span>CUARTOS</span>
            <span
                class={`absolute inset-x-0 top-8 h-0.5 bg-gray-600 transform ${
                    currentPath === "/cuartos" ? "scale-x-100" : "scale-x-0"
                } origin-left transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
        <a href="/explora" class="block relative group py-2 text-lg w-fit">
            <span>EXPLORA</span>
            <span
                class={`absolute inset-x-0 top-8 h-0.5 bg-gray-600 transform ${
                    currentPath === "/explora" ? "scale-x-100" : "scale-x-0"
                } origin-left transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
        <a href="/acerca-de" class="block relative group py-2 text-lg w-fit">
            <span>ACERCA DE</span>
            <span
                class={`absolute inset-x-0 top-8 h-0.5 bg-gray-600 transform ${
                    currentPath === "/acerca-de" ? "scale-x-100" : "scale-x-0"
                } origin-left transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
        <a href="/reserva" class="block relative group py-2 text-lg w-fit">
            <span>RESERVA AHORA</span>
            <span
                class={`absolute inset-x-0 top-8 h-0.5 bg-gray-600 transform ${
                    currentPath === "/reserva" ? "scale-x-100" : "scale-x-0"
                } origin-left transition-transform duration-150 ease-out group-hover:scale-x-100`}
            ></span>
        </a>
    </div>
</div>

<script>
    window.addEventListener("scroll", () => {
        const navbar = document.getElementById("navbar");
        const scrollPosition = window.scrollY;

        if (!navbar) return;

        if (scrollPosition > 270) {
            navbar.classList.add("bg-opacity-100");
            navbar.classList.remove("bg-opacity-0");
        } else {
            navbar.classList.remove("bg-opacity-100");
            navbar.classList.add("bg-opacity-0");
        }
    });

    const menuToggle = document.getElementById("menu-toggle");
    const sidebar = document.getElementById("sidebar");
    const closeSidebar = document.getElementById("close-sidebar");

    if (menuToggle && sidebar && closeSidebar) {
        menuToggle.addEventListener("click", () => {
            sidebar.classList.toggle("translate-x-full");
            sidebar.classList.toggle("translate-x-0");
        });

        closeSidebar.addEventListener("click", () => {
            sidebar.classList.add("translate-x-full");
        });
    }
</script>
