---
const { variant = "default", type = "button" } = Astro.props;
---

<button
    type={type}
    class={`uppercase py-4 px-12 text-xs font-bold hover:bg-opacity-70 ${variant === "default" ? "bg-secundarioDark border-none text-white" : "bg-transparent border-2 border-white text-white hover:bg-secundarioDark transition-all hover:border-transparent hover:text-white"}`}
    ><slot />
</button>
